<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<body>

</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" class="form-group">
    <div class="form-group">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </div>
    <br/>
    <div class="form-group">
        <label for="surname">Enter age: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Age Error</div>
    </div>
    <br/>
    <div class="form-group">
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    </div>
    <br/>
    <input type="submit" value="Update!" class="btn btn-info" />
</form>

</body>
</html>